.app-card {
    width: 22%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 2.4%;
    cursor: pointer;
}
.app-banner {
    width: 100%;
    height: 150px;
    object-fit: cover; /* 이미지 비율을 유지하면서 요소에 맞춤 */
}
.app-info {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* 이름과 별점을 양쪽 끝으로 정렬 */
    align-items: center;
}
.app-rating {
    background-color: #555;
    padding: 3px 7px;
    border-radius: 5px;
}
.app-container{
  margin-left: 5px;
  margin-top: 3px;
  display: flex;
}

.select input {
    border-radius: 20px;
    padding: 10px;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    border-width: 2px;
    border-color: #3498db;
    background-color: white;
    -webkit-appearance: none; /* 크롬 및 사파리용 */
    -moz-appearance: none; /* 파이어폭스용 */
    appearance: none; /* 표준 속성 */
    border: 2px solid #3498db;
    padding: 8px 15px;
    cursor: pointer;
    outline: none;
  }
.select .first {
    background-color: #3498db;
    color: white;
}
.select {
  margin-top: 5px;
  margin-left: 5px;
}