
h1 {
    text-align: center;
    margin-top: 20px;
    color: #FFF;
}
h2, h3, p{
    color: #333;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, opacity 0.3s;
}

.btn-upload, .btn-download {
    width: 100px;
    height: 40px; /* Set the height to your desired value */
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn-file {
    width: auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn-upload {
    background-color: #007bff;
    color: #fff;
}

.btn-file:hover, .btn-upload:hover {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}

.btn-download {
    background-color: #28a745;
    color: #fff;
}

.btn-download:hover {
    background-color: #1e7e34;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; /* Adjust the height to your preference */
}

#upload-form {
    flex: 1;
}

#download-form {
    flex: 1;
}

#codeinput, #file-upload {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 20px; /* Set the height to match the buttons' height */
}

#upload-form, #download-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-group {
    margin: 0 10px;
}
.select input {
  border-radius: 20px;
  padding: 10px;
  color: #000000;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  border-width: 2px;
  border-color: #3498db;
  background-color: white;
  -webkit-appearance: none; /* 크롬 및 사파리용 */
  -moz-appearance: none; /* 파이어폭스용 */
  appearance: none; /* 표준 속성 */
  border: 2px solid #3498db;
  padding: 8px 15px;
  cursor: pointer;
  outline: none;
}
.select .first {
  background-color: #3498db;
  color: white;
}
.select {
margin-top: 5px;
margin-left: 5px;
}

.app-card {
    width: 22%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 2.4%;
    cursor: pointer;
}
.app-banner {
    width: 100%;
    height: 150px;
    object-fit: cover; /* 이미지 비율을 유지하면서 요소에 맞춤 */
}
.app-info {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* 이름과 별점을 양쪽 끝으로 정렬 */
    align-items: center;
}
.app-rating {
    background-color: #555;
    padding: 3px 7px;
    border-radius: 5px;
}
.app-container{
  margin-left: 5px;
  margin-top: 3px;
  display: flex;
}