<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>AppXchange</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='topnav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='apply.css') }}">
</head>
<body>
    <div class="header">
        <div class="left">
          <a style="text-decoration: none;" href="/"><img src="{{ url_for('static', filename='logo.png') }}"></a>
          <div class="menus">
            <a href="/apps/tools">Apps</a>
            <a href="/games">Games</a>
            <a href="/private">FT Private</a>
          </div>
        </div>
        <div style=" cursor: pointer;" onclick="location.href='account';" class="profile-sidebar">
            <div class="profile-avatar"></div>
            <p id="username">Register</p>
        </div>
    </div>
<div class="form-container">
    <form id="upload-form" method="post" enctype="multipart/form-data" class="form-group">
        <p>App file (Compressing to zip/gzip is highly recommended )</p>
        <input class="btn btn-file" type="file" name="appfile" id="file-upload">
        <p>App icon (.png is the only format  supported as  of  now)</p>
        <input class="btn btn-file" type="file" name="icon" id="file-upload">
      <br><br><br>
      

        
        <input type="text" name="name" id="codeinput" placeholder="App Name">
        <input type="text" name="company" id="codeinput" placeholder="Company Name">
        <p>Banner Image (This will be visible in the apps section )</p>
        <input class="btn btn-file" type="file" name="bannerimage" id="file-upload">
        <input type="text" name="description" id="codeinput" placeholder="Description">
      <br><br>
        <input class="btn btn-file" type="file" name="represent" id="file-upload" multiple>
        <input type="text" name="repim" id="codeinput" placeholder="Represent Image Name">
        
        <p>File name will be: {Represent Image Name}_1.png</p>
        <input class="btn btn-upload" type="submit" value="Upload">
    </form>
</div>

<script>
    function validateForm() {
        const code = document.getElementById('codeinput').value;
        if (code.trim() === "") {
            alert("Please enter a valid file code.");
            return false;
        }
        return true;
    }

    function downloadFile (filecode) {
      var theForm, newInput1, newInput2;
      // Start by creating a <form>
      theForm = document.createElement('form');
      theForm.action = '/files/download';
      theForm.method = 'post';
      // Next create the <input>s in the form and give them names and values
      newInput1 = document.createElement('input');
      newInput1.type = 'hidden';
      newInput1.name = 'code';
      newInput1.value = filecode;
      // Now put everything together...
      theForm.appendChild(newInput1);
      // ...and it to the DOM...
      document.getElementById('hidden_form_container').appendChild(theForm);
      // ...and submit it
      theForm.submit();
    }
</script>
<script>
  var message = localStorage.getItem('name');
  const accountname = document.getElementById('username');
  if (message) {
    accountname.textContent = message;
  }
</script>
</body>
</html>
