<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>AppXchange</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='topnav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='apps.css') }}">
</head>
<body>
    <div class="header">
        <div class="left">
            <a style="text-decoration: none;" href="/"><img src="{{ url_for('static', filename='logo.png') }}"></a>
            <div class="menus">
            <a href="/apps/tools">Apps</a>
            <a href="/games">Games</a>
            <a href="/private">FT Private</a>
            </div>
        </div>
        <div style=" cursor: pointer;" onclick="location.href='account';" class="profile-sidebar">
            <div class="profile-avatar"></div>
            <p id="username">Register</p>
        </div>
    </div>
  </div>
  <h2 style="margin-left: 5px;">Apps</h2>
  <div class="select">
    <input onclick="location.href='/apps/tools';" class="tools" type="button" value="Tools"></input>
    <input onclick="location.href='/apps/music';" class="music" type="button" value="Music"></input>
    <input onclick="location.href='/apps/games';" class="games" type="button" value="Games"></input>
    <input onclick="location.href='/apps/health';" class="health" type="button" value="Health"></input>
    <input onclick="location.href='/apps/education';" class="education" type="button" value="Education"></input>
    <input onclick="location.href='/apps/finance';" class="finance" type="button" value="Finance"></input>
    <input onclick="location.href='/apps/graphic';" class="graphic" type="button" value="Graphic"></input>
    <input onclick="location.href='/apps/weather';" class="weather" type="button" value="Weather"></input>
    <input onclick="location.href='/apps/news';" class="news" type="button" value="News"></input>
    <input onclick="location.href='/apps/books';" class="books" type="button" value="Books"></input>
    <input onclick="location.href='/apps/business';" class="business" type="button" value="Business"></input>
    <input onclick="location.href='/apps/shopping';" class="shopping"  type="button" value="Shopping"></input>
    <input onclick="location.href='/apps/social';" class="social" type="button" value="Social"></input>
    <input onclick="location.href='/apps/sports';" class="sports" type="button" value="Sports"></input>
    <input onclick="location.href='/apps/travel';" class="travel" type="button" value="Travel"></input>
  </div>
  <div class="app-container">
      {% for app in apps %}
          <div class="app-card" onclick="location.href='/description/{{ app.code }}';">
              <img src="https://appxchange.onrender.com/static/DB/AppDB/{{ app.code }}/{{ app.image }}" alt="{{ app.name }}" class="app-banner">
              <div class="app-info">
                  <span class="app-name">{{ app.name }}</span>
                  <span class="app-rating">{{ app.rating }}/5.0</span>
              </div>
          </div>
      {% endfor %}
  </div>

  <script>
    var message = localStorage.getItem('name');
    const accountname = document.getElementById('username');
    if (message) {
      accountname.textContent = message;
    }

    const category = document.querySelector('.{{ category }}');
    category.classList.add('first');
  </script>
  
</body>
</html>
