<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>AppXchange</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='topnav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
<div class="header">
    <div class="left">
      <a style="text-decoration: none;" href="/"><img src="{{ url_for('static', filename='logo.png') }}"></a>
      <div class="menus">
        <a href="/apps">Apps</a>
        <a href="/games">Games</a>
        <a href="/private">FT Private</a>
        <test></test>
      </div>
    </div>
    <div style=" cursor: pointer;" onclick="location.href='account';" class="profile-sidebar">
        <div class="profile-avatar"></div>
        <p id="username">Register</p>
    </div>
</div>

<h2 style="margin-left: 5px;">New Releases</h2>
  
<div class="app-container">
  {% for app in apps %}
      <div class="app-card" onclick="location.href='/description/{{ app.code }}';">
          <img src="/static/DB/AppDB/{{ app.code }}/{{ app.image }}" alt="{{ app.name }}" class="app-banner">
          <div class="app-info">
              <span class="app-name">{{ app.name }}</span>
              <span class="app-rating">{{ app.rating }}/5.0</span>
          </div>
      </div>
  {% endfor %}
</div>

<h2 style="margin-left: 5px;">Recommended for you</h2>

<div class="app-container">
  {% for card in recommend %}
      <div class="app-card" onclick="location.href='/description/{{ card.code }}';">
          <img src="/static/DB/AppDB/{{ card.code }}/{{ card.image }}" alt="{{ card.name }}" class="app-banner">
          <div class="app-info">
              <span class="app-name">{{ card.name }}</span>
              <span class="app-rating">{{ card.rating }}/5.0</span>
          </div>
      </div>
  {% endfor %}
</div>

<h2 style="margin-left: 5px;">File Transfer</h2>
<div class="form-container">
    <form id="upload-form" action="/save" method="post" enctype="multipart/form-data" class="form-group">
        <input class="btn btn-file" type="file" name="file" id="file-upload">
        <input class="btn btn-upload" type="submit" value="Upload">
    </form>
    <form id="download-form" action="/files/download" method="post" enctype="multipart/form-data" onsubmit="return validateForm()" class="form-group">
        <input placeholder="Type 6-letter code to download" id="codeinput" name="code" type="text"/>
        <input class="btn btn-download" type="submit" value="Download"/>
    </form>
</div>

<h2 style="margin-left: 5px;">File sent to you</h2>
<p>Development in progress</p>

<script>
  /*
  var message = localStorage.getItem('name');
  const accountname = document.getElementById('username');
  const container = document.getElementById('upload-form');  
  const alert = document.getElementById('alert');  
  if (message) {
    accountname.textContent = message;
    alert.style.display = 'none';
  }
  else if (!message) {
    container.style.display = 'none';
    alert.style.display = 'block';
  }
  */
</script>
</body>
</html>
