<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>AppXchange</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='topnav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='private.css') }}">
</head>
<body>
  <div class="header">
    <div class="left">
      <a style="text-decoration: none;" href="/"><img src="{{ url_for('static', filename='logo.png') }}"></a>
      <div class="menus">
        <a href="/apps">Apps</a>
        <a href="/games">Games</a>
        <a href="/private">FT Private</a>
      </div>
    </div>
    <div style=" cursor: pointer;" onclick="location.href='account';" class="profile-sidebar">
        <div class="profile-avatar"></div>
        <p id="username">Register</p>
    </div>
</div>
<div class="form-container">
    <form id="sendselect-form" method="post" enctype="multipart/form-data">
      <h2>Add username to send</h2>
      <form>
        <!-- <input hidden="hidden" /> -->
        <input type="text" id="item" autofocus />
        <button type="button" id="add" class="addBtn">add</button>
        <button type="button" id="remove" class="removeBtn">remove</button>
      </form>
      <div id="item_list"></div>
    </form>
  
    <form id="upload-form" action="/save" method="post" enctype="multipart/form-data" class="form-group">
        <input class="btn btn-file" type="file" name="file" id="file-upload">
        <input class="btn btn-upload" type="submit" value="Upload">
    </form>

    <form id="download-form" action="/files/download" method="post" enctype="multipart/form-data" onsubmit="return validateForm()" class="form-group">
        <input placeholder="Enter private file code" id="codeinput" name="code" type="text"/>
        <input class="btn btn-download" type="submit" value="Download"/>
    </form>
</div>



<script>
  let itemList = [];/*누가 여기다 사용자 계정 리스트 좀 연결해줘요*/
  let addBtn = document.querySelector("#add");
  addBtn.addEventListener("click", addList);

  document
    .querySelector("#item")
    .addEventListener("keypress", function (e) {
      if (e.keyCode === 13) {
        e.preventDefault();
        addList();
      }
    });


  function showList() {

    let list = "<table>";
    for (let i = 0; i < itemList.length; i++) {
      list += `<tr>
        <td class="i">${itemList[i]}</td>
        <td class="x" id="${i}">X</td>
        </tr>`;
    }
    list += "</table>";


    document.querySelector("#item_list").innerHTML = list;


    let xMarks = document.querySelectorAll(".x");
    for (let i = 0; i < xMarks.length; i++) {

      xMarks[i].addEventListener("click", removeOne);
    }
  }


  function removeOne() {
    let id = this.getAttribute("id");
    itemList.splice(id, 1);
    showList();
  }
  
    function validateForm() {
        const code = document.getElementById('codeinput').value;
        if (code.trim() === "") {
            alert("Please enter a valid file code.");
            return false;
        }
        return true;
    }

    function downloadFile (filecode) {
      var theForm, newInput1, newInput2;
      // Start by creating a <form>
      theForm = document.createElement('form');
      theForm.action = '/files/download';
      theForm.method = 'post';
      // Next create the <input>s in the form and give them names and values
      newInput1 = document.createElement('input');
      newInput1.type = 'hidden';
      newInput1.name = 'code';
      newInput1.value = filecode;
      // Now put everything together...
      theForm.appendChild(newInput1);
      // ...and it to the DOM...
      document.getElementById('hidden_form_container').appendChild(theForm);
      // ...and submit it
      theForm.submit();
    }
</script>
<script>
  var message = localStorage.getItem('name');
  const accountname = document.getElementById('username');
  if (message) {
    accountname.textContent = message;
  }
</script>
</body>
</html>
