<div id="hidden_form_container" style="display:none;"></div>
<p><i>Try our new <a href="https://appxchange.onrender.com/description/EXACOOL">App Experience</a>!</i><br><span>You can also download the app through the code </span><b>"EXACOOL"</b></p>

<div class="form-container">

    <span id="alert">If you want to upload file, you have to sign in.</span>
    <form id="upload-form" action="/save" method="post" enctype="multipart/form-data" class="form-group">
        <input class="btn btn-file" type="file" name="file" id="file-upload">
        <input class="btn btn-upload" type="submit" value="Upload">
    </form>

    <form id="download-form" action="/files/download" method="post" enctype="multipart/form-data" onsubmit="return validateForm()" class="form-group">
        <input placeholder="Enter file code" id="codeinput" name="code" type="text"/>
        <input class="btn btn-download" type="submit" value="Download"/>
    </form>
</div>



<script>
    function validateForm() {
        const code = document.getElementById('codeinput').value;
        if (code.trim() === "") {
            alert("Please enter a valid file code.");
            return false;
        }
        return true;
    }

    function downloadFile (filecode) {
      var theForm, newInput1, newInput2;
      // Start by creating a <form>
      theForm = document.createElement('form');
      theForm.action = '/files/download';
      theForm.method = 'post';
      // Next create the <input>s in the form and give them names and values
      newInput1 = document.createElement('input');
      newInput1.type = 'hidden';
      newInput1.name = 'code';
      newInput1.value = filecode;
      // Now put everything together...
      theForm.appendChild(newInput1);
      // ...and it to the DOM...
      document.getElementById('hidden_form_container').appendChild(theForm);
      // ...and submit it
      theForm.submit();
    }
</script>